{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Widget -->
<div id="heading-box">
    <div id="heading-box-cnt">
        <div class="cl">&nbsp;</div>

        <!-- Main Slide Item -->
        <div class="featured-main">
            <h1>Профіль</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>
                {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label}}">{{ f.label }}</label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
                <p>
                    <button type="submit">Зберегти</button>
                </p>
            </form>
            <hr>
            <p><a href="{% url 'users:password_change' %}">Змінити пароль</a></p>
        </div>
        <!-- End Main Slide Item -->

    </div>
    <div class="cl">&nbsp;</div>
</div>
</div>
<!-- End Widget -->

</div>
</div>
</div>
<!-- End Heading -->

<!-- Main -->
<div id="main">
    <div class="shell">
        <div class="cl">&nbsp;</div>
        <div id="sidebar">
            <h2>Статті</h2>
            <ul>
                <li>
                    <small class="date">12.05.09</small>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </li>
                <li>
                    <small class="date">12.05.09</small>
                    <p>Donec venenatis varius urna vitae congue.</p>
                </li>
                <li>
                    <small class="date">12.05.09</small>
                    <p>Ullam vel neque ut lectus cursus dapibus.</p>
                </li>
                <li>
                    <small class="date">12.05.09</small>
                    <p>Praesent pellentesque arcu convallis ante dignissim quis ultrices felis iaculis.</p>
                </li>
                <li>
                    <small class="date">12.05.09</small>
                    <p>Ut eget lorem elit. Donec lorem eros, congue vel mollis non, tincidunt a nisl.</p>
                </li>
                <li>
                    <small class="date">12.05.09</small>
                    <p>Curabitur consectetur tellus a diam tincidunt pellentesque. </p>
                </li>
            </ul>
            <a href="#" class="archives">News Archives</a>
        </div>
        <div id="content">
            <div class="cl">&nbsp;</div>
            <div class="grey-box">
                <h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
                <a href="#"><img src="{% static 'images/main-1.jpg' %}" alt=""/></a>
                <p>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum, odio tincidunt egestas</span>
                    <a href="#" class="button">Read more</a>
                </p>
            </div>
            <div class="grey-box">
                <h3><a href="#">Curabitur elementum, odio tincidunt </a></h3>
                <a href="#"><img src="{% static 'images/main-2.jpg' %}" alt=""/></a>
                <p>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum, odio tincidunt egestas</span>
                    <a href="#" class="button">Read more</a>
                </p>
            </div>
            <div class="grey-box last">
                <h3><a href="#">Etiam iaculis tortor vel arcu porta consectetur.</a></h3>
                <a href="#"><img src="{% static 'images/main-3.jpg' %}" alt=""/></a>
                <p>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum, odio tincidunt egestas</span>
                    <a href="#" class="button">Read more</a>
                </p>
            </div>
        </div>
        <div class="cl">&nbsp;</div>
    </div>
</div>
<!-- End Main -->

{% endblock %}